// About Section Styles

.about-section {
  padding-top: 2.1875rem;
  padding-bottom: var(--spacing-base);
  background-color: var(--primary-gold-4);
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.about-section .container-fluid {

  position: relative;


}

.about-heading {
  font-family: var(--font-family-helvetica-neue);
  font-size: 3.75rem;
  font-weight: var(--font-weight-light);
  line-height: 1.05;
  letter-spacing: -0.0375rem;
  color: var(--primary-blue);
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.about-heading .underline {
  text-decoration: underline;
  text-decoration-style: solid;
}

.about-content-row {
  margin-top: 7.8125rem;
  position: relative; 
  z-index: 11;
}


.about-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 1.1875rem;
}

.about-text p {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-b2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-b2);
  letter-spacing: 0;
  color: var(--basic-black);
  margin: 0;
  white-space: pre-wrap;
}

.about-buttons {
  gap: 0.625rem;
}

.about-image {
  padding-left: 0;
  height: 36.5rem;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-gradient {
  position: absolute;
  top: -18rem;
  left: 50%;
  transform: translateX(-50%);
  width: 62.6875rem;
  height: 62.6875rem;
  aspect-ratio: 1/1;
  border-radius: 62.6875rem;
  background: var(--primary-yellow-bright, #FFF02A);
  filter: blur(250px);
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 991px) {
  .about-section {
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
    overflow: hidden;
  }

  .about-section .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .about-heading {
    font-size: 1.875rem;
    letter-spacing: -0.01875rem;
    margin-bottom: 1.875rem;
  }

  .about-content-row {
    margin-top: 1.875rem;
  }

  .about-content {
    margin-bottom: 1.875rem;
  }

  .about-text {
    margin-bottom: 1.25rem;
  }

  .about-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }

  .about-image {
    padding-top: 1.25rem;
    height: 25rem;
  }
}

@media (max-width: 767px) {
  .about-heading {
    font-size: 1.5625rem;
  }

  .about-image {
    height: 18.75rem;
  }
}

@media (max-width: 575px) {
  .about-gradient {
    width: 38rem;
    height: 38rem;
    top: -10rem;
  }
}
