.academics-section {
  background-color: var(--primary-gold-4);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
}
.academics-section .container-fluid {
  position: relative;
  z-index: 2;
}
.two-column-cta .container-fluid {
  z-index: 2;
}
.academics-section + .two-column-cta {
  overflow-x: clip;
  overflow-y: visible;
}
.academics-section + .two-column-cta .gradient-circle.left {
  z-index: 1;
  left: -37.625rem;
  bottom: -50.1875rem;
  clip-path: inset(-200rem -200rem 50rem -200rem);
  pointer-events: none;
}
.academics-top {
  margin-bottom: 7rem;
}
.academics-section h2 {
  font-size: var(--font-size-h2);
  line-height: 1.05;
  letter-spacing: -0.0375rem;
  color: var(--primary-blue);
  margin: 0;
}
.academics-content-col p {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  color: var(--basic-black-secondary);
  max-width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}
.academics-buttons {
  gap: 1.25rem;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .academics-section {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .academics-section .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .academics-top {
    margin-bottom: 1.875rem;
  }
  .academics-heading-col {
    margin-bottom: 1.25rem;
  }
  .academics-content-col p {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .academics-buttons {
    gap: 0.9375rem;
  }
  .academics-section h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  .academics-section h2 {
    font-size: 2.5rem;
  }
  .academics-content-col p {
    font-size: 1.125rem;
  }
}
@media only screen and (min-device-width: 390px) and (max-device-width: 992px) and (orientation: landscape) {
  html body .academics-top {
    margin-bottom: 4rem;
  }
}
