// Buttons
// Reusable button styles

.btn-rounded-large {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-super-small);
  padding: var(--spacing-2xs) var(--spacing-half-base);
  border-radius: var(--radius-huge);
  font-family: var(--font-family-helvetica-neue);
  font-size: 0.9375rem; // 15px
  font-weight: var(--font-weight-regular);
  line-height: 0.9;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  max-width:fit-content;
}

.btn-rounded-large-outline-blue {
  .btn-rounded-large();
  border:1px solid  var(--primary-blue);
  color: var(--primary-blue);
  &:hover {
    background-color: var(--primary-blue);
    color: var(--basic-white);
  }
}
.btn-rounded-large-outline-golden{
  .btn-rounded-large();
  border:1px solid var(--primary-gold, #84754E);
  color:var(--primary-gold, #84754E);
  &:hover {
    background-color: var(--primary-gold, #84754E);
    color: var(--basic-white);
  }

}
.btn-rounded-large-outline-black {
  border:1px solid var(--basic-black);
  color: var(--basic-black);
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
  &:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
  }
}

.btn-rounded-large-no-border {
  .btn-rounded-large();
  border:1px solid transparent;
  color: var(--primary-blue);

  svg {
    transition: transform 0.4s ease-in-out;
  }
  &:hover {
    background-color: var(--primary-blue);
    color: var(--basic-white);

    svg {
      transform: translateX(4px);
    }
  }
}

.btn-rounded-large-outline-white{
  border:1px solid var(--basic-white);
  color: var(--basic-white);
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
  &:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
  }
}

.btn-rounded-large-solid-blue {
  .btn-rounded-large();
  background-color: var(--primary-blue);
  color: var(--basic-white);
  border-color: var(--primary-blue);

&:hover {
  background-color: var(--primary-blue-tint);
}
}


.cta-button-solid-white{
  .btn-rounded-large();
  background-color: var(--basic-white);
  color: var(--basic-black);
  border:1px solid var(--basic-white);


&:hover {
    border:1px solid var(--basic-black);
  background-color: var(--basic-black);
  color: var(--basic-white);
}
}
@media (max-width: 767px) {
  .btn-rounded-large,
  .btn-rounded-large-outline-blue,
  .btn-rounded-large-no-border,
  .btn-rounded-large-solid-blue {
    line-height: 90%;
  }
}
