// Responsive Mixins
// Mobile first approach



.respond-to-sm(@rules) {
  @media (min-width: var(--breakpoint-sm)) {
    @rules();
  }
}

.respond-to-md(@rules) {
  @media (min-width: var(--breakpoint-md)) {
    @rules();
  }
}

.respond-to-lg(@rules) {
  @media (min-width: var(--breakpoint-lg)) {
    @rules();
  }
}

.respond-to-xl(@rules) {
  @media (min-width: var(--breakpoint-xl)) {
    @rules();
  }
}

.respond-to-xxl(@rules) {
  @media (min-width: var(--breakpoint-xxl)) {
    @rules();
  }
}




@media (min-width:1800px) {
  html {
    font-size: 21px;
  }
}


@media (max-width:767px) {
  .section {
    .gradient-circle {
      &.right {
        right: -146%;
        bottom: -100%;
      }

      &.left {
        left: -150%;
        bottom: -75%;
      }
    }

    .testimonials-gradient {
      left: 92%;
      top: 95%;
    }
  }

}

@media only screen and (min-device-width : 390px) and (max-device-width : 992px) and (orientation : landscape) {
  html {
    body {
      .section {
        .gradient-circle {
          &.right {
            right: -100%;
            bottom: -100%;
          }

          &.left {
            left: -80%;
            bottom: -100%;
          }
        }
      }
    }
  }
}