@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1201px) and (max-width: 1229px) {
  html {
    font-size: 12.8px;
  }
  .hero .hero-title {
    font-size: 11.25rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  html body h2 {
    font-size: 2.75rem !important;
  }
}
@media (max-width: 767px) {
  .section .gradient-circle.right {
    right: -146%;
    bottom: -100%;
  }
  .section .gradient-circle.left {
    left: -150%;
    bottom: -75%;
  }
  .section .gradient-circle.top-right {
    top: -48rem;
    right: -48rem;
  }
  .section .testimonials-gradient {
    left: 50%;
    top: 80%;
  }
}
@media only screen and (min-device-width: 390px) and (max-device-width: 992px) and (orientation: landscape) {
  html body .section .gradient-circle.right {
    right: -100%;
    bottom: -100%;
  }
  html body .section .gradient-circle.left {
    left: -80%;
    bottom: -100%;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1900px) and (max-width: 2499px) {
  .hero:not(.news-detail-hero) .hero-title {
    font-size: 10.25rem;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 3200px) {
  html {
    font-size: 40px;
  }
}
