// Typography
// Base typography for core HTML tags

h1 {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
  color: var(--basic-black);
}

h2 {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
  color: var(--basic-black);
}

h4 {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-h4);
  letter-spacing: 0;
  color: var(--basic-black);
}

p {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-b1);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-b1);
  letter-spacing: 0;
  color: var(--basic-black);
}

body {
  font-family: var(--font-family-helvetica-neue);
  font-size: var(--font-size-b2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-b2);
  letter-spacing: 0;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  background-color: var(--primary-gold-4);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
