:root {
  --primary-yellow: #ffdd00;
  --primary-yellow-bright: #fff02a;
  --primary-blue: #10069f;
  --primary-blue-tint: #1406c5;
  --primary-gold: #84754e;
  --primary-gold-bright: #a29061;
  --primary-gold-1: #dad2be;
  --primary-gold-3: #eeeae0;
  --primary-gold-4: #f6f3ec;
  --basic-white: #ffffff;
  --basic-black: #27251f;
  --basic-white-secondary: rgba(255, 255, 255, 0.75);
  --basic-black-secondary: rgba(0, 0, 0, 0.75);
  --spacing-super-small: 0.625rem;
  --spacing-2xs: 0.9375rem;
  --spacing-xs: 1.25rem;
  --spacing-half-base: 1.5625rem;
  --spacing-small: 1.875rem;
  --spacing-base: 2.5rem;
  --spacing-small-2: 2.5rem;
  --radius-huge: 18.75rem;
  --font-family-helvetica-neue: 'Helvetica Neue LT Pro', sans-serif;
  --font-size-h1: 5.625rem;
  --font-size-h2: 3.75rem;
  --font-size-h4: 1.875rem;
  --font-size-quote-large: 2.8125rem;
  --font-size-lead: 1.875rem;
  --font-size-b1: 1.25rem;
  --font-size-b2: 0.9375rem;
  --font-size-b3: 0.75rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --line-height-h1: 0.95;
  --line-height-h2: 1.05;
  --line-height-h4: 1;
  --line-height-quote-large: 1.05;
  --line-height-b1: 1.4;
  --line-height-b2: 1.4;
  --line-height-b3: 1;
  --letter-spacing-h1: -0.1875rem;
  --letter-spacing-h2: -0.0625rem;
  --letter-spacing-label-2: 0.3125rem;
  --letter-spacing-label-3: 0.3125rem;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}
