// Main LESS Entry Point

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container-fluid {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}


@import '_fonts';
@import '_variables';
@import '_responsive';
@import '_typography';
@import '_buttons';
@import '_header';
@import '_hero';
@import '_about';
@import '_strategic';
@import '_academics';
@import '_cocurricular';
@import '_statistics';
@import '_parents-community';
@import '_testimonials';
@import '_footer';
