// Main LESS Entry Point

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

.wrapper {
  max-width: 100vw;
  overflow: visible;
}

img,
object,
video {
  max-width: 100%;
  object-fit: cover;
}

// Prevent flash before GSAP initializes image reveal
[data-gsap="image-fade-in"] {
  opacity: 0;
  visibility: hidden;
}

.full {
  width: 100%;
}

a,
button,
input,
textarea,
select {

  &:focus,
  &:hover,
  &:active,
  &:visited,
  &:focus-visible,
  &:focus-within {
    outline: none;
    box-shadow: none;
  }
}



.container-fluid {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.section {
  position: relative;
  overflow: hidden;

  .gradient-circle {
    width: 62.6875rem;
    height: 62.6875rem;
    aspect-ratio: 1/1;
    border-radius: 62.6875rem;
    background: var(--primary-yellow-bright, #FFF02A);
    filter: blur(9.375rem);
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &.right {
      right: -50%;
      bottom: -60%
    }

    &.left {
      left: -50%;
      bottom: -75% 
    }
  }
}
a[href^=tel]{ color:var(--basic-black); text-decoration:none;}

@import '_fonts';
@import '_variables';
@import '_typography';
@import '_buttons';
@import '_header';
@import '_hero';
@import '_about';
@import '_strategic';
@import '_academics';
@import '_cocurricular';
@import '_statistics';
@import '_parents-community';
@import '_testimonials';
@import '_latest-news';
@import '_cta';
@import '_footer';
@import '_responsive';
